.jumbotron {
    background: rgb(17, 216, 17);
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Press Start 2P', cursive;
}

h3 {
    font-family: 'Squada One', cursive;
    font-size: 35px;
}

p, ul {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
}

a:hover {
    text-shadow: 2px 2px 5px grey;
    color: black;
}

.header {
    background-color: rgb(51, 20, 122);
    border-radius: 50px;
}

.pupHeader {
    background-color: rgb(17, 216, 17);
    border-radius: 50px;
}

.Ziggy {
    width: 35%;
    margin-left: 10px;
}

.dogDescription {
    float: right;
    width: 50%;
    margin-top: 150px;
    margin-right: 150px;
    border: solid aliceblue;
    border-radius: 25px;
    border-width: 5px;
    background: rgb(0, 153, 255);
}

.myDescription {
    float: left;
    width: 50%;
    margin-top: 125px;
    margin-left: 40px;
    border: solid aliceblue;
    border-radius: 25px;
    border-width: 5px;
    background: rgb(43, 78, 4);
}

.myPic {
    float: right;
    width: 35%;
    margin-right: 50px;
}

#myInterests {
    margin-top: 525px;
}
.comicHeader {
    background: rgb(17, 216, 17);
    border-radius: 50px;
    width: 1000px;
    margin-left: 200px;
    margin-top: 10px;
}
.comicImage {
    height: 500px;
    width: 650px;
}

.comicDescription {
    float: right;
    width: 45%;
    margin-right: 40px;
    margin-top: 15px;
    background: rgb(0, 153, 255);
    border: solid aliceblue;
    border-radius: 15px;
}

.mangaDescription {
    float: left;
    width: 45%;
    margin-top: 24px;
    margin-left: 10px;
    background: rgb(43, 78, 4);
    border: solid aliceblue;
    border-radius: 15px;
}

.mangaImage {
    width: 50%;
    margin-left: 35px;
}

.movieImage {
    width: 50%;
}

.movieDescription {
    float: right;
    width: 45%;
    margin-top: 10px;
    margin-right: 40px;
    background: rgb(0, 153, 255);
    border: solid aliceblue;
    border-radius: 15px;
}

.tvDescription {
    float: left;
    width: 45%;
    margin-top: 24px;
    margin-left: 10px;
    background: rgb(43, 78, 4);
    border: solid aliceblue;
    border-radius: 15px;
}
